body {
    font-size: 0;
}

div {
    position: absolute;
    left: 10%;
    right: 10%;

    top: 10%;
    bottom: 10%;

    background-color: blue;

}

a {
    position: relative;
    background-color: red;
    border: none;
    display: inline-block;
    top: 5%;
    width:50%;
    height: 90%;
    font-size: 10px;
}