body, html {
   height: 100%;
   margin: 0;
   padding: 0;
}
#image {
   background-image: url("IMG_0435.jpg");
   width: 100%;
   height: 1000px;
   max-height: 1000px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 100%;
}
body {
   background-color: rgb(62, 65, 65); 
   text-align: center;
   overflow: scroll;
}
#image .block1 {
   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -150px;
   margin-top: -150px;
   width: 300px;
   height: 300px;
   padding: 5px;
   border: 3px solid white;
   border-radius: 5px;
   opacity: .7;
   animation-name: borderTitle;
   animation-duration: 10s;
   animation-iteration-count: infinite;
   animation-delay: -60s;
}
@keyframes borderTitle {
   0% {border: 3px rgb(0, 204, 255) solid; left: 50%; right: 50%; transform: rotate(0deg)}
   12.5% {border: 3px rgb(255, 102, 0) solid;  left: 50%; right: 50%; transform: rotate(45deg);}
   25% {border: 3px rgb(0, 255, 106) solid; left: 50%; right: 50%; transform: rotate(90deg);}
   37.5% {border: 3px rgb(0, 204, 255) solid; left: 50%; right: 50%;transform: rotate(135deg);}
   50% {border: 3px rgb(255, 102, 0) solid;  left: 50%; right: 50%; transform: rotate(180deg);} 
   62.5% {border: 3px rgb(0, 255, 106) solid; left: 50%; right: 50%; transform: rotate(225deg);}
   75% {border: 3px rgb(0, 204, 255) solid; left: 50%; right: 50%;transform: rotate(270deg);}
   87.5% {border: 3px rgb(255, 102, 0) solid;  left: 50%; right: 50%; transform: rotate(315deg);}
   100% {border: 3px rgb(0, 255, 106) solid; left: 50%; right: 50%; transform: rotate(360deg);} 
}
h1 {
   font-family: 'Rajdhani', sans-serif;
   font-weight: bold;
   color: rgb(0, 255, 170);
   font-size: 21px;
   text-transform: uppercase;
   padding:0.4em 1em;
   top: 3%;
   left: 10%;
   transform: translate(-50%, -50%);
}
.overlay {
   position: absolute;
}
.overlay span {
   opacity: 0;
   animation: appear-text 0.0001s linear forwards;
   animation-delay: 1.4s;
}
.overlay:after {
   content:'';
   top: 0;
   left:0;
   position: absolute;
   width: 0%;
   height: 100%;
   background: #757074;
   animation: overlay 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
   animation-delay: 1s; 
}
@keyframes overlay {
   0% {
      left: 0;
      width: 0%;
   }
   50% {
      left: 0;
      width: 100%;
   }
   100% {
      left: 100%;
      width: 0%;
   }
}
@keyframes appear-text {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
#onemore {
   top: 45%;
   left: 50%;
   color: rgb(0, 204, 255);
   font-family: 'Ropa Sans', sans-serif;
   font-size: 30px;
   letter-spacing: 0.5px;
   animation-name: Title;
   animation-duration: 10s;
   animation-iteration-count: infinite;
   animation-delay: -60s;
}
@keyframes Title {
   0% {color: rgb(0, 204, 255);}
   12.5% {color: rgb(255, 102, 0);}
   25% {border:  rgb(0, 255, 106);}
   37.5% {color: rgb(0, 204, 255);}
   50% {color: rgb(255, 102, 0);} 
   62.5% {border:  rgb(0, 255, 106);}
   75% {color: rgb(0, 204, 255);}
   87.5% {color: rgb(255, 102, 0);}
   100% {border:  rgb(0, 255, 106);} 
}
#onemore span {
   animation-delay: 2s;
}
#onemore.overlay:after {
   background: rgb(255, 255, 255);
   animation-delay: 1.4s;
}

nav {
   color: rgb(53, 51, 51);
   font-family: 'Abel', sans-serif;
   text-align: center;
   font-weight: 300px;
   letter-spacing: 1px; 
}
.nav * {
   box-sizing: border-box;
   transition: all 0.35s ease;
}
.nav li {
   display: inline-block;
   list-style: none;
   margin: .2em .3em;
   padding: 0;
}
.nav li a {
   color: white;
}
.nav a {
   padding: .5em 0.8em;
   color: rgba(255, 255, 255, 0);
   position: relative;
   text-decoration: none;
   font-size: 20px;   
}
.nav a:before,
.nav a:after {
   height: 14px;
   width: 14px;
   position: absolute;
   content: '';
   transition: all 0.35s ease;
   opacity: 0;
}
.nav a:before {
   right: 0;
   top: 0;
   border-right: 1px solid rgb(0, 255, 255);
   border-top: 1px solid rgb(0, 255, 255);
   transform: translate(-100%, 50%);
}
.nav a:after {
   left: 0;
   bottom: 0;
   border-left: 1px solid rgb(0, 255, 255);
   border-bottom: 1px solid rgb(0, 255, 255); 
   transform: translate(100%, -50%);
}
a:hover:before,
a:hover:after {
   transform: translate(0%, 0%);
   opacity: 1;
}

footer {
   background-color: rgb(37, 36, 36);
   color: white;
   height: 60px;
   text-align: center;
   position: relative;
   width: 100%;
   bottom: 0px;
   opacity: .8;
   z-index: 9999;
   overflow: hidden;
}  
#copyright {
   font-family: Courier New;
   letter-spacing: 2px;
} 


